<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="EmployeeRestAPISuite">
   
   <listeners>
         <listener class-name="com.employeeapi.utilities.Listeners"/>
   </listeners>
    
            
     <test thread-count="5" name="EmployeesRestAPITest">
          <classes>
                 <class name="com.employeeapi.testcases.TC001_Get_all_employees"/>
                 <class name="com.employeeapi.testcases.TC002_Get_Single_Employee_Record" /> 
                 <class name="com.employeeapi.testcases.TC003_Post_Employee_record"/>
                 <class name="com.employeeapi.testcases.TC004_Put_Employee_Record"/>
                 <class name="com.employeeapi.testcases.TC005_Delete_Employee_record"/> 
                 
         </classes>
     
     </test>

</suite>